#calificaciones{
    /* border: red solid; */
}

.App{
    
}

#headerImage{
   width: 100%; 
   height: 200px; 
   object-fit: cover;
   object-position: 100% 100%;
}

#escuelaLogo{
    width: 120px;
    position:fixed;
    top:40px;
    left: 40px;
    z-index: 3;
}
#botonesDivContainer{
    /* border: red solid; */
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.botonDeLogin:hover{
    background-color: rgb(232, 232, 232);

}
#botonesDiv{
    /* border: red solid; */
    width: 500px;
    height: fit-content;
    display:flex;
    justify-content: space-evenly;
}
#estudiante{
    /* border: red solid; */
    height: 120px;
    width: 120px;
}

#admin{
    /* border: red solid; */
    height: 120px;
    width: 120px;

}

table td{
    border: black solid;

}

#inputContainer{
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    

}

#labelInput{
    /* border: #ff0000 solid; */
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
}
#nombreInput{
    /* margin-bottom: 10px; */
    width: 150px;
    border: none;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 2px;
}

#gradoSelect{
    width: 65px;
    margin-bottom: 10px;
    border-radius: 0;
    border:rgb(189, 189, 189) solid 1px;
    padding: 3px
}

#submitButton{
    border: none;
    padding: 6px;
}

#submitButton:hover{
    background-color: rgb(140, 140, 167);
}

#downloadPdfButton{
    margin-top: 40px;
}

/* ADMIN */

#dropZoneContainer{
    display: flex;
    justify-content: center;
}

#dropZone{
    border: red solid;
    width: 50%;
}

#fileUploadContainer{
    /* border: red solid; */
    display: flex;
    
    justify-content: center;
}

#fileUpload{
    /* border: red solid; */
    background-color: rgb(227, 227, 227);
    border-radius:18px;
    padding: 15px;
    width: fit-content;
}

#uploadFileButton{
    background-color: rgb(37, 189, 37);
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    border-radius: 8px;
    border: none;
    padding: 5px;
}

.checkMarkIcon{
    width: 25px;
}
.yearContainer{
    box-shadow: 4px 3px 6px rgb(222, 222, 222);
    padding: 15px;
    margin-bottom: 20px;
border:3px rgb(123, 123, 228) solid;
background-color: rgb(232, 232, 232);
border-radius: 10px;
}

#instructions{
    border: rgb(60, 60, 60) solid ;
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    margin-bottom: 30px;
}

#downloadIcon{
    width: 15px;
}

#downloadButton{
    font-weight: bolder;  
    color: white;
    background-color: rgb(96, 223, 71);
    border-radius: 12px;
    border: none;
    padding: 10px;
}
.mainPromediosContainer{
    /* border: red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.xlsxIcon{
    width: 26px;
    margin-right: 10px;

}

.uploadButton{
    font-weight:bolder;
    font-size: 15px;
    border-radius: 10px;
    border: 2px rgb(128, 128, 128) solid;
    padding: 10px;
    color: rgb(67, 67, 67);
    background-color: rgb(215, 215, 215);
}